body
{
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 25px;
}
h1{
    color: antiquewhite;
    text-align: center;
}
img{
    height: auto; 
    width: 1000px; 
}
.imgPos{
    text-align: center;
}
.Link{
    text-align: center;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: antiquewhite;
}

.Link#back{
    font-size: 15px;
}
#backtotop{
    color: black;
    background-color:rgb(91, 90, 88);
}
h2{
    color: antiquewhite;
    text-align: center;
}
.imgsize{
    height: auto; 
    width: 800px; 
}
h3{
    text-align: center;
    color:antiquewhite;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.ordered{
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    font-family: Arial, Helvetica, sans-serif;
}
.orderedsarma{
    display: block;
    margin-left: 35%;
    margin-right: 35%;
    font-family: Arial, Helvetica, sans-serif;

}
.sort{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgba(160, 157, 155, 0.5);
    font-size: 20px;
}

.basiclist{
    text-align: center;
    color: rgba(160, 157, 155, 0.5);
    font-size: 20px;
}
span{
    padding-left: 25px;
}
.header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.styleheader{
    display: block;
    background-color: black;
}
.astyle{
    color:antiquewhite;
    font-weight:500;
}